body {
    font-family: 'Merriweather Sans', sans-serif;
    background:linear-gradient(to right, rgba(162, 0, 255, 0.8), rgba(0, 119, 255, 0.8))
}
.jumbotron{
    font-family: 'Merriweather Sans', sans-serif;
    background-image: url("/img/jumbotronProfile.png");
    background-repeat: repeat;
    background-attachment:fixed; 
}
.jumbotron h1 {
    background:linear-gradient(to right, rgba(162, 0, 255, 0.8), rgba(0, 119, 255, 0.8));
    color: white;
    padding:0.5em 0.5em;
    text-align: center;
}

.searchDescr {
    background:linear-gradient(to right, rgba(162, 0, 255, 0.8), rgba(0, 119, 255, 0.8)) !important;
    color:white !important;
}

.searchBtn {
    width:15%;
}

.searchedItem {
    font-size:2em;
    border-radius: 5%;
}

.searchedImg {
    width:5%;
}